<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >Modificar {{playa.nombre}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="AModifPlaya0()">
  Modificar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>

    <form name="fPlayaForm" ng-submit="AModifPlaya0(fPlayaForm.$valid)" novalidate>

        <div class="form-group"
            ng-class="{ 'has-error' : fPlayaForm.nombre.$invalid -->
                                      && fPlayaForm.nombre.$pristine }">
            <label for="fPlaya_nombre">Nombre</label>
            <input id="fPlaya_nombre" type="text" name="nombre"
                   class="form-control" ng-model="fPlaya.nombre"
                   placeholder="{{playa.nombre}}"/>
        </div>

        <div class="form-group"
            ng-class="{ 'has-error' : fPlayaForm.descripcion.$invalid
                                      && fPlayaForm.descripcion.$pristine }">
            <label for="fPlaya_descripcion">Descripción</label>
            <textarea id="fPlaya_descripcion" type="text" name="descripcion"class="form-control"  ng-model="fPlaya.descripcion" placeholder="{{playa.descripcion}}" />
        </div>
        <div class="form-group"
            ng-class="{ 'has-error' : fPlayaForm.comentario.$invalid -->
                                      && fPlayaForm.comentario.$pristine }">
            <label for="fPlaya_comentario">Comentario</label>
            <input id="fPlaya_comentario" type="text" name="comentario"
                   class="form-control" ng-model="fPlaya.comentario"
                   placeholder="{{playa.comentario}}"/>
        </div>        
        <button type="submit" class="btn btn-md">
        <span class="glyphicon glyphicon-edit"></span>&nbsp; Modificar Playa</button>
    </form>
    </br>
    </br>

<div id="right"></div>