<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" >{{playa.nombre}}</span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VModifPlaya0(playa._id)">
  Modificar</a></li>
<li><a ng-click="VCambios2(playa._id)">
  Cambios</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
<li><a ng-click="VPlayas1()">
    Regresar</a></li>

            </ul>
        </div>
    </div>
</nav>

<b> Comentario: </b> {{playa.comentario}} <br>
<b> Descripción: </b> {{playa.descripcion}}



<div id="right"></div>