<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
</head>
<body>
<h2>playas</h2>
<p></p>
<ol>
 <li>
  <p><br></p>
  <ul>
   <li>URL: '/p/VPlayas'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
   <li>Roles: Sin restricción de rol
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/VCrearPlaya'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
   <li>Roles: Sin restricción de rol
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/ACrearPlaya'</li>
   <li>Método: POST</li><li>Formato de entrada y salida: JSON</li>
<li>Parámetros POST:
    <ul>     <li>nombre -  
Requerido. 
     </li>     <li>descripcion -  
Opcional. 
     </li>     <li>comentario -  
Requerido. 
     </li>     <li>idPlaya -  
Opcional. 
     </li>
    </ul>
   </li>
   <li>Roles: Sin restricción de rol
   <li>Requisitos: No disponible
   <li>
    <p><strong>Cursos posibles</strong></p>
    <ol>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VPlaya',</li>
       <li> msg:"Playa {{palya.nombre}} creada".</li>
      </ul>
     </li>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VCrearPlaya',</li>
       <li> msg:"Error al tratar de crear playa".</li>
      </ul>
     </li>

    </ol>
   </li>
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/VPlaya'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
Parámetros GET: idPlaya
   <li>Roles: Sin restricción de rol
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/AModifPlaya'</li>
   <li>Método: POST</li><li>Formato de entrada y salida: JSON</li>
<li>Parámetros POST:
    <ul>     <li>nombre -  
Requerido. 
     </li>     <li>descripcion -  
Opcional. 
     </li>     <li>comentario -  
Requerido. 
     </li>     <li>idPlaya -  
Opcional. 
     </li>
    </ul>
   </li>
   <li>Roles: Sin restricción de rol
   <li>Requisitos: No disponible
   <li>
    <p><strong>Cursos posibles</strong></p>
    <ol>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VPlaya',</li>
       <li> msg:"Playa {{playa.nombre}} modificada.".</li>
      </ul>
     </li>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VModifPlaya',</li>
       <li> msg:"Error al tratar de modificar playa".</li>
      </ul>
     </li>

    </ol>
   </li>
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/VModifPlaya'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
Parámetros GET: idPlaya
   <li>Roles: Sin restricción de rol
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/VCambios'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
Parámetros GET: idPlaya
   <li>Roles: Sin restricción de rol
  </ul>
 </li> <li>
  <p></p>
  <ul>
   <li>URL: '/p/ARevertir'</li>
   <li>Método: GET</li><li>Formato de salida: JSON</li>
Parámetros GET: idCambio
   <li>Roles: Sin restricción de rol
   <li>Requisitos: No disponible
   <li>
    <p><strong>Cursos posibles</strong></p>
    <ol>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VPlaya',</li>
       <li> msg:"Último cambio revertido".</li>
      </ul>
     </li>
     <li>
      <p>resultado:</p>
      <ul>
       <li>label:'/VCambios',</li>
       <li> msg:"Error al tratar de revertir un cambio en  playa".</li>
      </ul>
     </li>

    </ol>
   </li>
  </ul>
 </li>
</ol>

</html>